@media(min-width: 768px){
    .mobile-header{
        display: none;
    }

    .header{
        display: flex;
        background: #fff;
        padding-left: 40px;
        padding-right: 40px;
    }
  }
  
  @media(max-width: 768px){
    .mobile-header{
        display: block;
    }

    .header{
        display: none;
    }
  }


.logo{
    position: relative;
    left: 110%;

}   

